<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shucong.mall.mapper.OrdersPackageMapper">
  <resultMap id="BaseResultMap" type="com.shucong.mall.entity.OrdersPackage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="express" jdbcType="VARCHAR" property="express" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders_package
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shucong.mall.entity.OrdersPackage">
    insert into orders_package (id, order_id, warehouse_id, 
      express, express_no)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, 
      #{express,jdbcType=VARCHAR}, #{expressNo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shucong.mall.entity.OrdersPackage">
    update orders_package
    set order_id = #{orderId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      express = #{express,jdbcType=VARCHAR},
      express_no = #{expressNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, warehouse_id, express, express_no
    from orders_package
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, warehouse_id, express, express_no
    from orders_package
  </select>
  <resultMap id="BaseResultMap" type="com.shucong.mall.entity.OrdersPackage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="express" jdbcType="VARCHAR" property="express" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders_package
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shucong.mall.entity.OrdersPackage">
    insert into orders_package (id, order_id, warehouse_id, 
      express, express_no)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, 
      #{express,jdbcType=VARCHAR}, #{expressNo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shucong.mall.entity.OrdersPackage">
    update orders_package
    set order_id = #{orderId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      express = #{express,jdbcType=VARCHAR},
      express_no = #{expressNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_id, warehouse_id, express, express_no
    from orders_package
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, warehouse_id, express, express_no
    from orders_package
  </select>
</mapper>