<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shucong.mall.mapper.TopicsMapper">
  <resultMap id="BaseResultMap" type="com.shucong.mall.entity.Topics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="banner" jdbcType="VARCHAR" property="banner" />
    <result column="slogen" jdbcType="VARCHAR" property="slogen" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shucong.mall.entity.Topics">
    insert into topics (id, name, banner, 
      slogen)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{banner,jdbcType=VARCHAR}, 
      #{slogen,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shucong.mall.entity.Topics">
    update topics
    set name = #{name,jdbcType=VARCHAR},
      banner = #{banner,jdbcType=VARCHAR},
      slogen = #{slogen,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, banner, slogen
    from topics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, banner, slogen
    from topics
  </select>
  <resultMap id="BaseResultMap" type="com.shucong.mall.entity.Topics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="banner" jdbcType="VARCHAR" property="banner" />
    <result column="slogen" jdbcType="VARCHAR" property="slogen" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shucong.mall.entity.Topics">
    insert into topics (id, name, banner, 
      slogen)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{banner,jdbcType=VARCHAR}, 
      #{slogen,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shucong.mall.entity.Topics">
    update topics
    set name = #{name,jdbcType=VARCHAR},
      banner = #{banner,jdbcType=VARCHAR},
      slogen = #{slogen,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, banner, slogen
    from topics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, banner, slogen
    from topics
  </select>
</mapper>